<h1>Lista de Confirmados</h1>

<p *ngIf="loading">Carregando...</p>

<p *ngIf="error">{{ error }}</p>

<ul class="lista" *ngIf="!loading && !error">

  @for (usuario of usuarios; track usuario.id) {
    <li class="card-usuario">
      <span>{{ usuario.name }}</span><br>
      <span>{{ usuario.email }}</span><br><br>
      <span>{{ usuario.address?.city }}</span><br><br>

      <button
        [routerLink]="['/detalhes', usuario.id]"
        class="btn">
        Detalhes
      </button>
    </li>
  }

</ul>
